<div id="bodywrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well">
        <h2><%= @link.title %></h2>
        <h3><%= @link.update_status %></h3>
        <h4 class="pull-right">處理時間：<%= @link.updated_at.to_s(:long) %></h4>
        <br>
        </div>
        <div class="well" style="word-wrap:break-word;">
          <% @f.each_line do |line| %>
          <%= line %>
          <br>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>